// BASE THEME VARS

#logo {
	float:left;
	margin:50px;
}

// WORDPRESS ADMIN VARS

// screen sizes
$wpadmin_mobile_max: 782px;
$wpadmin_mobile_small_max: 600px;

$wpadmin_height_desktop: 32px;
$wpadmin_height_mobile: 46px;




// BOOTSTRAP OVERRIDES